.fifth-background {
    background-image: url('../img/backgrond/section-5.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fifth-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    padding-top: 97px;
    margin-bottom: 65px;
}
.fifth-lines {
    position: relative;
}
.fifth-line-1 {
    border-top: 1px solid #18cfab;
    width: 76px;
}
.fifth-line-2 {
    position: absolute;
    top: 4px;
    left: 13px;
    border-top: 1px solid #18cfab;
    width: 78px;
}
.fifth-block-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.fifth-block-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 69px;
}
.fifth-tabs-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #dadada;
    height: 58px;
    padding: 0 15px;
}
.fifth-tabs-title:first-child {
    padding: 0 29px;
}
.fifth-tabs-title:hover {
    color: #18cfab;
    border: 2px solid #18cfab;
    transition: 0.4s;
    cursor: pointer;
}
.fifth-tabs-title.active {
    color: #18cfab;
    border: 2px solid #18cfab;
    cursor: pointer;
}
.fifth-tabs-imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fifth-tabs-first-img {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    justify-content: center;
}
.fifth-tabs-second-img {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    justify-content: center;
}
.img-info.active {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}
.fifth-img-2.active {
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
}
.img-info {
    display: none;
}
.fifth-img-2 {
    display: none;
}
.img-1 {
    width: 285px;
    height: 211px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.img-2 {
    width: 285px;
    height: 211px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.hidden-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    height: 211px;
    border-top: 2px solid #18cfab;
}
.show-info-green-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18cfab;
}
.show-info-gray-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8a8a8a;
}
.icon-info {
    width: 88px;
    height: 43px;
    margin-top: 46px;
    margin-bottom: 24px;
}
.fifth-button-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.fifth-button.active {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
    width: 168px;
    height: 63px;
    background: #18cfab;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 99px;
}
.fifth-button {
    display: none;
}
.fifth-button-icon {
    position: absolute;
    top: 21px;
    left: 24px;
    width: 18px;
    height: 19px;
}
.fifth-button:hover {
    background: #05b08e;
    transition: 0.3s;
    border-radius: 5px;
}
