.footer-background {
    height: 121px;
    background: #22353f;
}

.footer-wrapp {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}
.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
}
.footer-theHam {
    color: #18cfab;
}
